mancala
_minted
Relatório/joaoluisalmeidasantos_20240002408.aux
Relatório/joaoluisalmeidasantos_20240002408.fdb_latexmk
Relatório/joaoluisalmeidasantos_20240002408.fls
Relatório/joaoluisalmeidasantos_20240002408.log